.hero {
    backdrop-filter: blur(10px);
    background-color: #6b21a801;
    padding: 50px;
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.conimg {
    mix-blend-mode:darken;
}